# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes
minecraft/logs
minecraft/crash-reports
minecraft/saves

/README.txt
/forge-*-changelog.txt

secret.json